.tiptap.ProseMirror {
  font-family: inherit;
}

.simple-editor-wrapper {
  width: 100%;
}

.simple-editor-content {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.simple-editor-content .tiptap.ProseMirror.simple-editor {
  padding: 0.75rem;
  min-height: 140px;
}
