.rte-container {
  display: flex;
  flex-direction: column;
  gap: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.75rem;
  background: transparent;
  overflow: hidden;
}

.rte-container .simple-editor-wrapper {
  width: 100%;
  height: 65vh;
  min-height: 400Px;
  max-height: 800Px;
  overflow-y: auto;
  padding: 0 3vh;
}

.rte-container .simple-editor-content {
  width: 100%;
}

.rte-container .simple-editor-content .tiptap.ProseMirror.simple-editor {
  padding: 0.75rem;
  min-height: 140px;
}
.tiptap.ProseMirror ul[data-type="taskList"] li
{
  padding: 3px 0;
}

.rte-container .tiptap-toolbar[data-variant="fixed"] {
  position: sticky;
  top: 0;
  z-index: 1;
  background: rgba(255, 255, 255);
  backdrop-filter: blur(6px);
}

.dark .rte-container .tiptap-toolbar[data-variant="fixed"] {
  background: rgba(10, 10, 10);
}

@media (prefers-color-scheme: dark) {
  .rte-container {
    border-color: rgba(255, 255, 255, 0.1);
  }
}
